body {
    background: #ffffff;
    color: #807d7f;
    margin-top: 5rem;
  }
  
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #E0E0E1;
    border-radius: 1px;
    margin-bottom: 2px;
  }
  